<div *ngIf="!course">
    course not found
</div>

<div *ngIf="course">
    <h2>{{ course.name}}</h2>
    <img src="{{course.imageUrl}}"/>
    <div>Rating: *** {{course.description}}</div>
    Materials count:  <span *ngIf="course.materials">{{course.materials.length}}</span>  <span *ngIf="!course.materials">0</span>

</div>

<div class="container">
	<div class="row">
		<div class="col-xs-4 item-photo">
			<img style="max-width:100%;" src="http://www.digitaldriving.com/images/coursedetails-img.gif" onerror='this.style.display = "none"'/>
		</div>
		<div class="col-xs-5" style="border:0px solid gray">
			<h3>Title<small style="color:#337ab7"> · (5054 reviews)</small></h3>

			<h3 style="margin-top:0px;">Description</h3>

			<div style="width:100%;border-top:1px solid silver">
				<p style="padding:1px;">
					Description description description...
				</p>                    
			</div>               

			<div class="section" style="padding-bottom:20px;">
				<a href="#" class="btn btn-primary"><span>Back</span></a>
				&nbsp;&nbsp;
				<a href="#" class="btn btn-success"><span>Start course</span></a>
			</div>                                        
		</div>                              	
	</div>
	<div class="col-xs-5" style="border:0px solid gray">
		<h3 style="margin-top:0px;">Comments</h3>

		<div style="width:100%;border-top:1px solid silver">                 
		</div> 
			
		<div class='container' >
			<div class="media comment-box">
				<div class="media-left">
					<a href="#">
						<img class="img-responsive user-photo" src="https://ssl.gstatic.com/accounts/ui/avatar_2x.png" width="50px;" height="50px;">
					</a>
				</div>
				<div class="media-body">
					<h4 class="media-heading">Azar Hank</h4>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>
		</div>
	</div>  
</div>

<button (click)="goBack()">go back</button>
<button> Start course</button>


<div>comment section with reviews</div>